/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: 'Sigmar One', cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.container {
  width: 90%;
  margin: 50px 50px 0 50px;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
header a {
  margin: 0 0 3rem 3rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  background: #b3b3b370;
  width: 100%;
  border-radius: 8px;
  padding: 70px 30px;
  line-height: 4.5rem;
}
.banner img {
  border: 1px solid #575757;
  margin-bottom: 5px;
  width: 25%;
}
.banner h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 5rem;
  letter-spacing: -0.375rem;
}
.banner h3 {
  font-size: 2rem;
}
.banner hr {
  width: 100%;
  border-bottom: 1px solid #ffffff03;
}
.banner p {
  font-size: 1.1rem;
  letter-spacing: 1px;
}
@media (min-width: 500px) {
  .banner p {
    font-size: 0.8em;
  }
}
.banner a {
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 0px 14px;
  background: #797777;
  align-self: flex-start;
  font-size: 1.3rem;
  width: 20%;
  border-radius: 8px;
}
@media (min-width: 500px) {
  .banner a {
    font-size: 1em;
    background: #c04949;
  }
}
#middle-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 10px;
  margin-top: 3rem;
}
#middle-content .left {
  width: 50%;
  line-height: 1.975rem;
  padding-right: 40px;
}
#middle-content .left h2 {
  font-family: 'Sigmar One', cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#middle-content .right {
  width: 50%;
  align-self: baseline;
  line-height: 1.8rem;
}
#middle-content .right h2 {
  font-family: 'Sigmar One', cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#middle-content .right li {
  border: 1px solid #c8c8d375;
  padding: 10px;
}
.bottom-content {
  margin-top: 3rem;
}
.bottom-content h2 {
  font-family: 'Sigmar One', cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.bottom-content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 29px;
  word-spacing: 191px;
}
.bottom-content ul .table-header {
  background: rgba(181, 181, 217, 0.83);
  color: white;
}
.bottom-content ul li {
  border: 1px solid #c8c8d375;
  width: 55rem;
  padding: 7px;
}
.bottom-content ul ol {
  word-spacing: 16px;
}
#contact {
  margin-top: 3rem;
  line-height: 2rem;
}
footer {
  background: darkgray;
}
footer h3 {
  color: whitesmoke;
  text-align: center;
  padding: 50px;
  margin-top: 3rem;
  font-size: 1.3rem;
}
